button{
	width: 25px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-color: white;
	border: 1px solid white;
}
audio{
	width: 40px;
	height: 10px;
	position: absolute;

}