.IPAConverter {
	height: 500px;
	padding: 5px;
	border: 2px solid darkgrey;
	border-radius: 10px;
}
.IPAConverter .alert {
	visibility: hidden;
}
.IPAConverter h4 {
	height: 40px;
}
.IPAConverter h3 {
	border-bottom: 3px solid lightgrey;
	border-top:  1px solid lightgrey;
}
.IPAConverter button {
	margin-top: 5px;
}

audio{
	width: 40px;
	height: 10px;
	position: absolute;

}

.IPAPulmonic td {
	padding: 1px;
	text-align: center;
	font-size: 8pt;
}
.desc{
	padding: 1px;
}
.IPAPulmonic tr td div button{
	width: 25px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 5px;
	background-color: white;
	border: 1px solid white;
}

#main {
	/*width: 90%;*/
}

.IPAQuiz {
	padding: 20px;
	border: 2px solid darkgrey;
	border-radius: 10px;
}
.IPAQuiz .feedback {
	height: 40px;
	margin: 3px;
}

.IPAQuiz button {
	margin: 3px;
}
